<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">
    <Properties>
        <Property name="name">parcel-service</Property>
        <Property name="application_log_path">C:\Users\LENOVO\IdeaProjects\${name}\log\application</Property>
        <Property name="service_log_path">C:\Users\LENOVO\IdeaProjects\${name}\log\service</Property>
    </Properties>
    <Appenders>
        <Console name="console"/>
        <RollingFile name="application_log_appender"
                     filePattern="${application_log_path}/${name}-application-log-%d{yyyy-MM-dd}.log.gz"
                     fileName="${application_log_path}/${name}-application.log">
            <PatternLayout>
                <pattern>{\"time\": \"%d{yyyy-MM-dd HH:mm:ss.SSS}\", \"level\":\"%-5level\", \"thread\":\"%t\", \"pid\":\"%pid\", \"output\":\"%m\"}%n
                </pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete maxDepth="1" basePath="${application_log_path}">
                    <IfAll>
                        <IfAccumulatedFileCount exceeds="33"/>
                    </IfAll>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <RollingFile name="service_log_appender"
                     filePattern="${service_log_path}/${name}-service-log-%d{yyyy-MM-dd}.log.gz"
                     fileName="${service_log_path}/${name}-service.log">
            <PatternLayout>
                <pattern>["time": "%d{yyyy-MM-dd HH:mm:ss.SSS}"] "output":"%m"%n
                </pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete maxDepth="1" basePath="${service_log_path}">
                    <IfAll>
                        <IfAccumulatedFileCount exceeds="33"/>
                    </IfAll>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!-- <Elasticsearch name="application_logs_elasticsearch">-->
        <!-- <IndexName indexName="java-application-logs-${name}"/>-->
        <!-- <JsonLayout compact="true" stacktraceAsString="true" objectMessageAsJsonObject="false">-->
        <!-- <KeyValuePair key="date" value="$${date:yyyy-MM-dd HH:mm:ss.SSS}" />-->
        <!-- </JsonLayout>-->
        <!-- <AsyncBatchDelivery batchSize="1000" deliveryInterval="5000">-->
        <!-- <IndexTemplate name="java-application-logs-${name}" path="src/main/resources/elasticsearch-index-templates/common-java-application-logs-index-template.json"/>-->
        <!-- <JestHttp serverUris="${}" mappingType="_doc"/>-->
        <!-- </AsyncBatchDelivery>-->
        <!-- </Elasticsearch>-->
        <!-- <Elasticsearch name="service_elastic_appender">-->
        <!-- <IndexName indexName="java-service-logs-${name}"/>-->
        <!-- <PatternLayout pattern="%m%n"/>-->
        <!-- <AsyncBatchDelivery batchSize="1000" deliveryInterval="5000">-->
        <!-- <IndexTemplate name="java-service-logs-${name}" path="src/main/resources/elasticsearch-index-templates/common-java-service-logs-index-template.json"/>-->
        <!-- <JestHttp serverUris="${}" mappingType="_doc"/>-->
        <!-- </AsyncBatchDelivery>-->
        <!-- </Elasticsearch>-->


    </Appenders>
    <Loggers>
        <Root includeLocation="true" level="info">
            <AppenderRef ref="console"/>
            <AppenderRef ref="application_log_appender"/>
        </Root>
        <AsyncLogger name="service_logger" includeLocation="false" level="info" additivity="false">
            <AppenderRef ref="service_log_appender"/>
        </AsyncLogger>
    </Loggers>

</Configuration>